:root {
    --light-orange: #FFAB71;
    --dark-blue: #2D4059;
    --orange: #E77C40;

    --text-regular: #252B42;
    --text-grayed: #737373;
    --text-light-green: #96BB7C;
    --text-muted: #BDBDBD;
    --text-light-blue: #8EC2F2;
}

@font-face {
    font-family: "Monsterrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf")
}

@font-face {
    font-family: "Monsterrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

a {
    color: var(--text-grayed);
    font-family: "Monsterrat-Bold", serif;
    font-size: 18px;
}

button {
    border: none;
    background-color: #fff;
}

.smaller {
    font-size: 18px !important;
}

.main-button, .simple-button {
    background-color: var(--text-light-green);
    border-radius: 5px;
    border: 1px solid var(--text-light-green);
    padding: 15px 25px;
    width: 130px;
    height: 60px;

    color: #fff;
    font-family: "Monsterrat-Bold", serif;
    font-size: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 15px;
}

.simple-button:hover {
    border-color: #fff;
    background-color: #424242 !important;
    color: #fff;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.main-button:hover {
    border-color: #fff;
    background-color: #424242 !important;
    color: #fff;
    transition: 0.5s ease-in;
    cursor: pointer;
}

.simple-button {
    background-color: #fff !important;
    color: var(--text-light-green)
}

.wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    gap: 15px;
}

.upper-text, .upper-text div {
    color: var(--text-light-green);
}

.title {
    font-size: 58px;
}

.inline {
    display: inline-block;
}

.description, .description p {
    font-family: "Monsterrat", serif;
    color: var(--text-grayed) !important;
    font-size: 20px;
}

.t-left {
    text-align: left !important;
}

.js-between {
    display: flex;
    justify-content: space-between !important;
}

.align-center {
    display: flex;
    align-items: center;
}

.hero--cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px;
}

.hero--card {
    padding: 35px 60px;
    width: 400px;
    height: 350px;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
}

.hero--card img {
    width: 55px;
    aspect-ratio: 1;
}

.hero--wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hero--title {
    position: relative;
}

.hero--title::after {
    content: url("../media/svg/hr.svg");
    position: absolute;
    top: 30px;
    right: 36%;
}

.hero--description {
    width: 130px;
}

.product {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 20px;
}

.product .title {
    font-size: 16px;
    width: 50%;
}

.product .description, .product .description p {
    font-family: "Monsterrat", serif;
    font-size: 16px !important;
}

.product button.simple-button {
    height: 45px;
    border-radius: 37px !important;
}